doctype html
html
  head
    title Resim Görüntüle
    style.
      img {
        max-width: 600px;
        max-height: 600px;
        display: block;
        margin: 20px auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
  body
    img(src=imageUrl, alt="Ürün Resmi")
