doctype html
html(lang="tr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ürün Listesi - E-Ticaret
    link(rel="stylesheet", href="/css/main.css")
    style.
      h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #222;
      }
      
  body
    // Navbar (Menü Çubuğu)
    .navbar
        ul
          li 
            img(src="/img2/logo.jpg" height="50px" width="50px")
          li 
            a(href="#") E-Ticaret
          li
            a(href="/admin-home-page") Admin Home Page
          li
            a(href="/urun-ekle") Ürün Ekle 
          li
            a(href="/marka-ekle") Marka Ekle 
          li
            a(href="/model-ekle") Model Ekle 
          li
            a(href="/tedarikci-ekle") Tedarikçi Ekle

    // İçerik
    .container-fluid
      h2.text-center Ekelenecek olan seçeneği seçiniz

    // Footer
    footer
      .container
        p.text-center &copy; 2025 E-Ticaret. Tüm hakları saklıdır.
