doctype html
html(lang="tr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ürün Listesi - E-Ticaret
    link(rel="stylesheet", href="/css/main.css")
    style.
      
      h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #222;
      }
  body
    // Navbar (Menü Çubuğu)
    .navbar
      ul.navbar-nav
          li 
            img(src="/img2/logo.jpg" height="50px" width="50px")
          li 
              a(href="#") E-Ticaret
          li
              a(href="/admin-home-page") Admin Home Page
          li
              a(href="/tedarikci-sorgula") Tedarikçi Sorgula
          li
              a(href="/urun-sorgula") Ürün Sorgula

    // Ürün Listesi İçeriği
    .container-fluid
      h2.text-center Sorgulamak istediğiniz seçeneğe tıklayın
      // İçerik buraya gelecek, örneğin bir ürün listesi tablosu veya başka içerikler.
    
    // Footer
    footer
      .container
        p.text-center &copy; 2025 E-Ticaret. Tüm hakları saklıdır.
